Handling Different Channels & Delegating Handshake

Digging into Ratchet code I discovered that connection flow looks like that:

1. Open connection
2. Negotiate using HTTP Upgrade procedure
3. Delegate connection open event to `ConnectionInterface` instance

### Handshake Validation
I found an annoying problem with second step of the process, which goes as follow:
1. Handshake negotiator is called (`ServerNegotiator` - hardcoded in `WsServer` constructor)
2. Upgrade request is verified by `ServerNegotiator::handshake` using `RequestVerifier`:
 - Method is verified to be `GET` (RFC)
 - HTTP Version is verified to be `1.1` (RFC)
 - Request URI is verified to ~~~be `/`~~~ start with `/`
 - Host is verified to be not empty *(doh!)*
 - Upgrade header is validated (RFC)
 - `Connection` header is validated (RFC)
 - `Sec-WebSocket-Key` is validated (RFC/b64 - spec doesn't call for this)
 - `Sec-WebSocket-Version` is verified to support v13 (RFC)
3. Handshake response is produced by `ServerNegotiator`

### Problem?
I see few problems originating from hardcoded assumptions. In the low level:
1. `ServerNegotiator` instance is hardcoded to use provided `RequestVerifier`
2. `RequestVerifier` contains myriad of assumptions which should be delegated to an application logic
3. `WsServer` forces `X-Powered-By` header to contain `Ratchet/x.y.z`

These low-level assumptions pose problem while designing high-level logic:
1. There is no way to route different topics based on negotiation request URI/`Host` header/client IP etc
2. There is no sane way to modify negotiation response (e.g. add custom headers or remove `X-Powered-By` which is required for some certifications)
 

### Possible solution
`ServerNegotiator` should behave according to its name and **only** ensure request is valid according to RFC-6455. Rest of the validation logic (e.g. `Host`) should be outsourced to the application logic. This is relatively simple to achieve - WsServer should accept custom `RequestVerifier` instances (maybe as some interface?).

The second part of the problem is dealing with handshake response. Currently `X-Powered-By` header is set to "Ratchet" in `ServerNegotiator` as well as in `WsServer` to the name with version. I think the whole `ServerNegotiator` instance should not be hardcoded in `WsServer` but rather settable. Built-in `ServerNegotiator` should set the `X-Powered-By` with version and `WsServer` should not attempt to modify the response. We can either solve this by providing custom negotiator extending `ServerNegotiator` or provide interface similar to message/connection handlers in which external class is called to modify `Response` object.

WDYT?

@kiler129 Thanks for the in-depth write up.

The `RequestVerifier` implements the specified requirements for RFC6455. Can you give a use-case example of what verification could not be handled by this?

As far as the `X-Powered-By`, if may be worth putting an optional constructor argument. @cboden - do you have any thoughts?

@mbonneau No problem ;)

*Disclaimer: I'm pretty famillar with WebSocket on its own, since back in the days I rolled my own WebSocket server ;)*

My problem is `RequestVerifier` implements RFC6455 **but** doesn't allow any extension.
I came across the problem with the verifier while trying to implement concept of a channels, so you connect to `ws://127.0.0.1:1024/cats` and you will get messages from cats, you connect to `ws://127.0.0.1:1024/dogs` and you will get messages from dogs.

Currently I blindly accept the client and let it connect to my application and I have no way of knowing what they negotiated during handshake. What I would like to see is a way to route websocket according to [RFC6455 Section 3](https://tools.ietf.org/html/rfc6455#section-3), which gives two possibilities:
1. Having WS and HTTP on the same listener
2. Routing different "channels" of WS traffic to different parts of the application.

The same thing applies to `Host` header (or any other header). Let's say I want to check `X-Api-Key`. The application gets `\Ratchet\Server\IoConnection` in `onOpen` callback (while promising just `\Ratchet\ConnectionInterface`), which indeed contains handshake request object **however** the client is already accepted and in WS mode and the `conn` property containing deeply buried handshake request  is protected. This is pretty big limitation for me.

I personally think a sane thing would be to introduce concept similar to firewall available in Symfony. If it's defined external class is called to verify request **after** RFC6455 checks are done. I would do that using two interfaces: one for external request validation and another for handshake response modification.

You are able to access the request on the connection object. Here is an example:
```php
<?php

use Ratchet\App;
use Ratchet\ConnectionInterface;
use Ratchet\MessageComponentInterface;

require __DIR__ . '/vendor/autoload.php';

class AnimalChat implements MessageComponentInterface {
    function onOpen(ConnectionInterface $conn) {}

    public function onMessage(ConnectionInterface $from, $msg) {
        /** @var GuzzleHttp\Psr7\Request $request */
        $request = $from->httpRequest;
        if ($request->getUri()->getPath() === '/cat') {
            $from->send('meow');
        }

        if ($request->getUri()->getPath() === '/dog') {
            $from->send('woof');
        }
    }

    public function onClose(ConnectionInterface $conn) {}

    public function onError(ConnectionInterface $conn, \Exception $e) {}
}

$chat = new AnimalChat();

$app = new App('localhost', 56789);
$app->route('/cat', $chat, ['*']);
$app->route('/dog', $chat, ['*']);
$app->run();
```
@kiler129 - Would this accomplish what you are trying to do?

Hm, interesting. This seems like an undocumented behavior. While I don't have problem using it*, but as a member of the org tell me: how stable this approach is? Interface doesn't guarantee this property existence for obvious reasons, changing the interface would be a nasty BC break etc...

Thank you for the solution for this problem, while not elegant it works. However I would still continue discussion on possibility of externalization of the handshake handling. I can submit PR if we reach consensus on this. I dig more into the architecture and roughly (despite what I said in the previous comment) that's what I would do:
1. Modify signature of `\Ratchet\WebSocket\WsServer::__construct` to read:
`public function __construct(ComponentInterface $component, \Ratchet\RFC6455\Handshake\NegotiatorInterface $handshakeNegotiator = null)`
2. Alter following part of the constructor mentioned:
```php
        $this->handshakeNegotiator = new ServerNegotiator(new RequestVerifier);
        $this->handshakeNegotiator->setStrictSubProtocolCheck(true);
```
to
```php
        $this->closeFrameChecker   = new CloseFrameChecker;
        if ($handshakeNegotiator === null) {
            $this->handshakeNegotiator = new ServerNegotiator(new RequestVerifier());
            $this->handshakeNegotiator->setCustomHeaders(['X-Powered-By' => \Ratchet\VERSION]);
        } else {
            $this->handshakeNegotiator = $handshakeNegotiator;
        }
        $this->handshakeNegotiator->setStrictSubProtocolCheck(true);
```
3. Change `\Ratchet\RFC6455\Handshake\ServerNegotiator` to include `setCustomHeaders()` method
4. Change end of `ServerNegotiator::handshake` from:
```php
return new Response(101, array_merge($headers, [
            'Upgrade'              => 'websocket'
          , 'Connection'           => 'Upgrade'
          , 'Sec-WebSocket-Accept' => $this->sign((string)$request->getHeader('Sec-WebSocket-Key')[0])
          , 'X-Powered-By'         => 'Ratchet'
        ]));
``` 
to
```php
        $headers += [
                        'Upgrade'              => 'websocket',
                        'Connection'           => 'Upgrade',
                        'Sec-WebSocket-Accept' => $this->sign((string)$request->getHeader('Sec-WebSocket-Key')[0])
                    ]
                 + $this->customHeaders
                 + ['X-Powered-By' => 'Ratchet']
        ;

        return new Response(101, $headers);
```
5. Modify `WsServer::onOpen` to call just `$response = $this->handshakeNegotiator->handshake($request);` without altering headers


Such change has many benefits:
1. You can alter handshake (e.g. log error or do a redirect for non-upgrade clients)
2. Custom headers are prohibiting overwrite of core WS handshake headers (by using `+`)
3. Custom headers are implemented by concrete rather than interface, so no applications needs changes
4. Default `X-Powered-By` is provided by RFC lib as it was before (so no BC break)
5. `WsServer` still sets detailed `X-Powered-By` with version
6. No runtime performance penalty :)

@mbonneau Will such change be welcomed?



<i>* for future-commers: it's not how you should do that for performance reasons, route in `onOpen()`.</i>

The `httpRequest` property is a documented feature: http://socketo.me/docs/websocket#parameters

Any change to that would be considered a BC break.

@kiler129 As far as changing Ratchet, if your problem is solved by the above code, we should keep things the same.

While I agree in principal with many of your suggestions and reasons, the Ratchet project is an abstraction of WebSockets. Adding more options makes it less abstract. If more control is needed, it is possible to just grab the [RFC library](https://github.com/ratchetphp/RFC6455) and [create your own server](https://github.com/ratchetphp/RFC6455/blob/master/tests/ab/startServer.php).

As we work toward the next version please feel free to review and comment on changes.

